                
 <div class="list-group"> 
    <a href='/kurslar/' class="list-group-item list-group-item-list">Tüm Kurslar</a>
{% for category in categories %}
 <a href="{% url 'courses_by_category' category.slug %}" class="list-group-item list-group-item-list {% if seciliKategori == category.slug %}active{% endif %}">
 {{ category.name }}</a>
{% endfor %}          
</div>       
<!-- 

{ % url % } dinamik url oluşturma (bir yapıştırıcı değil adres dedektifidir.)

Döngüdeki category.slug değeri veritabanından "web-tasarim" olarak gelir.

Django, urls.py içinde name='courses_by_category' olan urlyi bulur.

O satırdaki <slug:category_name> kısmına "web-tasarim" değerini yerleştirir.

Sonuç olarak tarayıcıya şu HTML kodunu gönderir:
<a href="/kurslar/kategori/web-tasarim">Web Tasarım</a>

-->