{% load static %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
  
      <img src="{% static 'courses/img/'|add:course.imageUrl%}" class="img-fluid rounded-start" alt="{{course.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'course_details' course.slug %}"> 
            {{course.title}}
          </a>
          </h5>
        <p class="card-text">{{course.description}}</p>
        <p class="card-text"><small class="text-muted">{{course.date}}</small></p>
      </div>
    </div>
  </div>
</div>